@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

.navbar {
  background-color: var.$navbar-bg;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var.$text;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 3rem;
  font-family: "Gwendolyn", sans-serif;
  color: var.$text;
  text-decoration: none;
  margin-left: 3rem;
  flex: 1;
}

.nav-center {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex: 1;
}

.cart-icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  font-size: 3rem;
  color: var.$text;
  flex: 1;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  text-decoration: underline;
}

.user-info {
  display: flex;
  align-items: center;
  font-family: "Asap", sans-serif;
  font-size: 1.2rem;
  align-items: center;
  color: var.$text;
}

.btn-login,
.btn-logout,
.btn-admin,
.btn-gallery {
  @include mix.button-main(var.$button-bg);
}
