// src/styles/components/_signup.scss
// ========================
@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

/* ========================
   OVERLAY SEMI-TRANSPARENT
======================== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .modal {
    height: min-content;
  }
}

/* ========================
   CONTENU DE LA MODALE
======================== */
.modal-content {
  background: var.$navbar-bg;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  max-width: 400px;
  width: 90%;
}

/* ========================
   BOUTON DE FERMETURE
======================== */
.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var.$text;
}

/* ========================
   TITRE DE LA MODALE
======================== */
.modal-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

/* ========================
   CHAMPS DE FORMULAIRE
======================== */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;

  label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  input {
    padding: 0.8rem;
    border: 1px solid var.$text;
    border-radius: 5px;
  }
}

/* ========================
   BLOC DE SOUMISSION
======================== */
.output-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  p {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var.$text;
  }
  .btn-submit {
    background: var.$button-bg;
    color: var.$text;
    border: none;
    padding: 0.8rem;
    width: 100%;
    cursor: pointer;
    border: 1px solid var.$text;
    border-radius: 5px;
    font-size: 1.2rem;

    &:hover {
      background: var.$links-hover;
    }
  }
}
/* ========================
   LIEN VERS L’INSCRIPTION/CONNEXION
======================== */
.signup-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;

  a {
    color: var.$links;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
