@import "../utils/variables";
@import "../utils/mixins";

.table-container {
  width: 100%;
  max-width: 800px;
  overflow-x: auto;
  border-radius: 8px;
}

.table {
  width: 100%;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;

  th,
  td {
    padding: $spacing-sm;
    text-align: center;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  th {
    background-color: $primary-color;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  tr:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  /* ✅ Responsive */
  @include responsive(tablet) {
    max-width: 100%;
  }
}
