// src/styles/utils/_mixins.scss
// ========================
@use "variables" as var;
@use "global";

/* ========================
   MIXINS DE RESPONSIVITÉ
======================== */
@mixin responsive($breakpoint) {
  @if $breakpoint == xl {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 1399px) and (min-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == md-lg {
    @media (max-width: 1199px) and (min-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 1023px) and (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == sm-md {
    @media (max-width: 991px) and (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: 767px) and (min-width: 426px) {
      @content;
    }
  } @else if ($breakpoint == xs) {
    @media (max-width: 425px) {
      @content;
    }
  }
}

/* ========================
   MIXIN STYLE DE POLICE
======================== */
@mixin font-style($font-family, $font-weight: normal, $font-size: 16px) {
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
}

/* ========================
   MIXIN BOUTON CLASSIQUE
======================== */
@mixin button-style($bg-color) {
  background-color: $bg-color;
  color: var.$light-color;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

/* ========================
   MIXIN BOUTON PRINCIPAL (typé Gwendolyn)
======================== */
@mixin button-main($button-bg) {
  background-color: var.$button-bg;
  color: var.$text;
  padding: 0 1.5rem;
  border-radius: 10px;
  border: solid 1px var.$text;
  @include font-style("Gwendolyn", 400, 2.5rem);

  &:hover {
    background-color: var.$links-hover;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}
/* ========================
   MIXIN POUR STYLE DE CARTE
======================== */
@mixin card-style {
  background: var.$light-color;
  padding: var.$spacing-md;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
