@use "variables" as var;
@use "global";

// 📌 Mixins Responsivité
@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1025px) {
      @content;
    }
  }
}
// 📌 Mixins pour polices
@mixin font-style($font-family, $font-weight: normal, $font-size: 16px) {
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
}

// 📌 Mixins pour boutons
@mixin button-style($bg-color) {
  background-color: $bg-color;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

@mixin button-main($button-bg) {
  background-color: $button-bg;
  color: var.$text;
  padding: 0 1.5rem;
  border-radius: 10px;
  border: solid 1px var.$text;
  @include font-style("Gwendolyn", 400, 2.5rem);

  &:hover {
    background-color: var.$links-hover;
  }
}

// 📌 Mixins pour cartes / blocs
@mixin card-style {
  background: white;
  padding: var.$spacing-md;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
