// src/styles/_toastOverrides.scss
// ========================

@use "variables" as var;

// toast générique (tous types confondus)
.Toastify__toast {
  border: 1px solid var.$text !important;
  background-color: var.$main-bg !important;
  border-radius: 10px;
  color: var.$text !important;
}

/* toast de succès */
.Toastify__toast--success {
  border: 1px solid var.$text !important;
  background-color: var.$main-bg !important;
  border-radius: 10px;
  color: var.$text !important;
}

/* toast d’erreur */
.Toastify__toast--error {
  border: 1px solid var.$text !important;
  background-color: var.$main-bg !important;
  border-radius: 10px;
  color: var.$text !important;
}

/* toast d’info */
.Toastify__toast--info {
  border: 1px solid var.$text !important;
  background-color: var.$main-bg !important;
  border-radius: 10px;
  color: var.$text !important;
}

/* toast d’avertissement */
.Toastify__toast--warning {
  border: 1px solid var.$text !important;
  background-color: var.$main-bg !important;
  border-radius: 10px;
  color: var.$text !important;
}
