// src/main.scss
// ========================
@use "utils/variables" as var;
@use "utils/mixins";
@use "utils/global";
@use "utils/toastOverrides";

@use "components/footer";
@use "components/forms";
@use "components/galleryItem";
@use "components/modal";
@use "components/navbar";
@use "components/sidebar";
@use "components/table";
@use "components/saveCreationModal";
@use "components/accountModal";

@use "pages/admin";
@use "pages/dashboard";
@use "pages/home";
@use "pages/gallery";
@use "pages/register";
@use "pages/legal-mentions";
@use "pages/contact";
@use "pages/cartpage";
@use "pages/checkout";
@use "pages/productpage";
@use "pages/notfound";
@use "pages/terms";
@use "pages/privacy";
@use "pages/success";
@use "pages/cancel";
@use "pages/ordersHistory";
@use "pages/personalGallery";
@use "pages/orderDetail";

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

// VISUALLY HIDDEN
// ===============
.sr-only,
.sr-only-focusable:not(:focus, :focus-within) {
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only:not(caption),
.sr-only-focusable:not(caption):not(:focus, :focus-within) {
  position: absolute !important;
}

.sr-only *,
.sr-only-focusable:not(:focus, :focus-within) * {
  overflow: hidden !important;
}
