@charset "UTF-8";
@font-face {
  font-family: "Asap";
  src: url("../../assets/fonts/Asap-Regular.woff2") format("woff2"), url("../../assets/fonts/Asap-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Asap";
  src: url("../../assets/fonts/Asap-Italic.woff2") format("woff2"), url("../../assets/fonts/Asap-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gwendolyn";
  src: url("../../assets/fonts/Gwendolyn-Regular.woff2") format("woff2"), url("../../assets/fonts/Gwendolyn-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gwendolyn";
  src: url("../../assets/fonts/Gwendolyn-Bold.woff2") format("woff2"), url("../../assets/fonts/Gwendolyn-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
  background-color: #ffe5ec;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  background-color: #ffc2d1;
  padding: 1.5rem 2rem;
  text-align: center;
  width: 100%;
  border-top: 1px solid #0b0809;
}

.footer {
  background-color: #ffc2d1;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #0b0809;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-link,
.footer-text {
  font-size: 1.2rem;
  color: #0b0809;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .footer-link,
  .footer-text {
    font-size: 1.1em;
  }
}
@media (max-width: 1199px) and (min-width: 1024px) {
  .footer-link,
  .footer-text {
    font-size: 1.05rem;
  }
}
@media (max-width: 1023px) and (min-width: 992px) {
  .footer-link,
  .footer-text {
    font-size: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .footer-link,
  .footer-text {
    font-size: 0.95rem;
  }
}
@media (max-width: 767px) and (min-width: 426px) {
  .footer-link,
  .footer-text {
    font-size: 0.9rem;
  }
}
@media (max-width: 425px) {
  .footer-link,
  .footer-text {
    font-size: 0.85rem;
  }
}

.footer-link:hover {
  text-decoration: underline;
  color: #395619;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  padding: 20px;
}
.form-container input,
.form-container button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.form-container button:hover {
  background-color: #0062cc;
}

/* ✅ Gestion des mots-clés */
.keyword-management {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  /* 🔹 Formulaire d'ajout */
  /* 🔹 Liste des mots-clés */
}
.keyword-management h2 {
  color: #0b0809;
  margin-bottom: 20px;
}
.keyword-management .add-keyword {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}
.keyword-management .add-keyword input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.keyword-management .add-keyword button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.keyword-management .add-keyword button:hover {
  background-color: #0062cc;
}
.keyword-management .keyword-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.keyword-management .keyword-list li {
  display: flex;
  align-items: center;
  background: #f8f9fa;
  color: #0b0809;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
}
.keyword-management .keyword-list li button {
  margin-left: 8px;
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.gallery-item {
  background: #f8f9fa;
  border-radius: 10px;
  border: 1px solid #0b0809;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery-item .gallery-image {
  width: 100%;
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid #fb6f92;
}
.gallery-item .gallery-image:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}
.gallery-item .gallery-info {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-item .gallery-info h3 {
  font-size: 1rem;
  margin: 5px 0;
}
.gallery-item .gallery-info .download-btn {
  background: #fb6f92;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: auto;
  align-self: center;
}
.gallery-item .gallery-info .download-btn:hover {
  background: #ff8fab;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1050;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  max-height: calc(50vh - 2rem);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  flex-direction: column;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  width: 50%;
  max-width: 500px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
}
.modal h3 {
  margin-bottom: 20px;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #dc3545;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
form button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
form button:hover {
  background: #0062cc;
}

.navbar {
  background-color: #ffc2d1;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0b0809;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) and (min-width: 768px) {
  .navbar-container {
    width: 90%;
    justify-content: space-evenly;
  }
}

/* LOGO */
.logo {
  font-size: 3rem;
  font-family: "Gwendolyn", sans-serif;
  font-weight: bold;
  color: #0b0809;
  text-decoration: none;
  margin-left: 3rem;
  flex: 1;
}
@media (max-width: 991px) and (min-width: 768px) {
  .logo {
    display: flex;
    vertical-align: middle;
  }
}
@media (max-width: 767px) and (min-width: 426px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-center {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex: 1;
}
@media (min-width: 1400px) {
  .nav-center {
    transform: translate(40%);
  }
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .nav-center {
    transform: translate(35%);
  }
}
@media (max-width: 1199px) and (min-width: 1024px) {
  .nav-center {
    transform: translate(30%);
  }
}
@media (max-width: 1023px) and (min-width: 992px) {
  .nav-center {
    transform: translate(35%);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .nav-center {
    display: none;
  }
}
@media (max-width: 767px) and (min-width: 426px) {
  .nav-center {
    display: none;
  }
}
@media (max-width: 425px) {
  .nav-center {
    display: none;
  }
}

/* MENU BURGER */
.burger-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
@media (max-width: 991px) and (min-width: 768px) {
  .burger-menu {
    display: block;
    margin-left: 2rem;
  }
}
@media (max-width: 767px) and (min-width: 426px) {
  .burger-menu {
    display: block;
    margin-left: 1.5rem;
  }
}
@media (max-width: 425px) {
  .burger-menu {
    display: block;
    margin-left: 1rem;
  }
}

/* MENU MOBILE */
.nav-links-mobile {
  position: absolute;
  top: 100%;
  left: 1%;
  background: #ffc2d1;
  border-radius: 10px;
  border: 1px solid #0b0809;
  list-style: none;
  padding: 1rem;
  z-index: 1000;
}
.nav-links-mobile li {
  padding: 0.5rem;
  text-align: center;
}

/* PANIER */
.cart-icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  font-size: 3rem;
  color: #0b0809;
  flex: 1;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cart-icon {
    margin-right: 2rem;
  }
}
@media (max-width: 767px) and (min-width: 426px) {
  .cart-icon {
    margin-right: 1.5rem;
  }
}
@media (max-width: 425px) {
  .cart-icon {
    margin-right: 1rem;
  }
}

/* BOUTONS */
.btn-gallery,
.btn-login,
.btn-logout,
.btn-admin,
.btn-register {
  background-color: #fb6f92;
  color: #0b0809;
  padding: 0 1.5rem;
  border-radius: 10px;
  border: solid 1px #0b0809;
  font-family: "Gwendolyn", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  height: 45px;
  min-width: 120px;
  max-width: 150px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-gallery:hover,
.btn-login:hover,
.btn-logout:hover,
.btn-admin:hover,
.btn-register:hover {
  background-color: #ff8fab;
}
@media (min-width: 1400px) {
  .btn-gallery,
  .btn-login,
  .btn-logout,
  .btn-admin,
  .btn-register {
    font-size: 2.5rem;
    min-width: 120px;
    min-height: 50px;
  }
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .btn-gallery,
  .btn-login,
  .btn-logout,
  .btn-admin,
  .btn-register {
    font-size: 2rem;
    min-width: 110px;
  }
}
@media (max-width: 1199px) and (min-width: 1024px) {
  .btn-gallery,
  .btn-login,
  .btn-logout,
  .btn-admin,
  .btn-register {
    font-size: 1.8rem;
    min-width: 100px;
  }
}
@media (max-width: 1023px) and (min-width: 992px) {
  .btn-gallery,
  .btn-login,
  .btn-logout,
  .btn-admin,
  .btn-register {
    font-size: 1.5rem;
    min-width: 90px;
  }
}

@media (max-width: 1399px) and (min-width: 1200px) {
  .logo {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 1199px) and (min-width: 1024px) {
  .logo {
    font-size: 2.2rem;
    text-align: center;
  }
}
@media (max-width: 1023px) and (min-width: 992px) {
  .logo {
    font-size: 2rem;
    text-align: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .logo {
    font-size: 1.8rem;
    transform: translate(40%);
    text-align: center;
  }
}
@media (max-width: 767px) and (min-width: 426px) {
  .logo {
    font-size: 1.5rem;
    transform: translate(35%);
    text-align: center;
  }
}
@media (max-width: 425px) {
  .logo {
    font-size: 1.2rem;
    text-align: center;
  }
}

/* 🎨 Sidebar Admin */
.admin-sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  background-color: #343a40;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  top: 0;
  z-index: 1000;
  /* ✅ Mode mobile : Burger Menu */
}
.admin-sidebar h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.admin-sidebar .nav {
  flex-grow: 1;
}
.admin-sidebar .nav-link {
  color: white;
  font-size: 1rem;
  padding: 10px;
  transition: background 0.3s ease-in-out;
}
.admin-sidebar .nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.admin-sidebar .logout-btn {
  width: 100%;
  margin-top: auto;
  background-color: #dc3545;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.admin-sidebar .logout-btn:hover {
  background-color: #bd2130;
}

.table-container {
  width: 100%;
  max-width: 800px;
  overflow-x: auto;
}

.table {
  width: 100%;
  display: table;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: visible;
}
.table th,
.table td {
  padding: 10px;
  text-align: center;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  max-width: 200px;
}
.table th {
  background-color: #007bff;
  color: white;
}
.table tr:nth-child(even) {
  background-color: #f8f9fa;
}
.table .image-thumbnail {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.table .image-thumbnail:hover {
  transform: scale(2);
  position: absolute;
  z-index: 10;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.table .table-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.table .table-actions button {
  padding: 6px 12px;
  font-size: 14px;
  white-space: nowrap;
}

body {
  background-color: #f8f9fa;
}

.d-flex {
  max-height: 100vh;
  overflow-y: hidden;
}

.admin-content {
  width: calc(100% - 250px);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  margin-left: 250px;
  overflow-y: auto;
}
.admin-content section {
  margin-bottom: 20px;
}
.admin-content h2 {
  margin-bottom: 20px;
  text-align: center;
}

.home-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* 🔹 Bannière */
.home-banner {
  text-align: center;
  padding: 40px 0;
  background-color: #ffb3c6;
  border-radius: 10px;
  border: 1px solid #0b0809;
  font-family: "Gwendolyn", sans-serif;
  font-weight: bold;
}
.home-banner h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

/* 🔹 Cartes produits */
.product-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.product-selection p {
  text-decoration: none;
  color: #0b0809;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffb3c6;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #0b0809;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.product-card p {
  color: #0b0809;
}
.product-card:hover p {
  color: #395619;
}
.product-card:hover {
  transform: scale(1.05);
  text-decoration-color: #395619;
}
.product-card img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.product-info {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8rem;
  padding: 40px 0;
  background-color: #ffb3c6;
  border-radius: 10px;
  border: 1px solid #0b0809;
}

.gallery-container {
  padding: 20px;
  text-align: center;
}
.gallery-container h2 {
  color: #0b0809;
  font-family: "Asap", sans-serif;
  font-size: 2rem;
}
.gallery-container .gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.pagination button {
  background: #fb6f92;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.pagination button:hover:not(:disabled) {
  background: #ff8fab;
}

.keyword-cloud {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.keyword-btn {
  background-color: #ff8fab;
  color: white;
  border: 1px solid #0b0809;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}
.keyword-btn:hover {
  background: #fb6f92;
}
.keyword-btn.selected {
  background: #fb4570;
  font-weight: bold;
}

.register-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffc2d1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.register-container h2 {
  margin-bottom: 1rem;
}
.register-container .input-group {
  margin-bottom: 1rem;
  text-align: left;
}
.register-container .input-group label {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
.register-container .input-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #0b0809;
  border-radius: 5px;
}
.register-container .btn-submit {
  background: #fb6f92;
  color: #0b0809;
  border: none;
  padding: 0.8rem;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
}
.register-container .btn-submit:hover {
  background: #ff8fab;
}

.success-message {
  color: #395619;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #ffe5ec;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  position: relative;
}

.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}/*# sourceMappingURL=main.css.map */