@use "utils/variables" as var;
@use "utils/mixins";
@use "utils/global";

@use "components/footer";
@use "components/forms";
@use "components/galleryItem";
@use "components/modal";
@use "components/navbar";
@use "components/sidebar";
@use "components/table";

@use "pages/admin";
@use "pages/dashboard";
@use "pages/home";
@use "pages/gallery";
@use "pages/register";
@use "pages/legal-mentions";
@use "pages/contact";
@use "pages/cartpage";
@use "pages/checkout";
@use "pages/productpage";
@use "pages/notfound";
@use "pages/terms";
@use "pages/privacy";
@use "pages/success";
@use "pages/cancel";

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
