@use "../utils/variables" as var;
.quantity-control {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    padding: 0.25rem 0.6rem;
    font-weight: bold;
    background: var.$text-bg;
    color: var.$text;
    border: var.$text 1px solid;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  span {
    min-width: 24px;
    text-align: center;
    font-weight: bold;
  }
}
