@use "../utils/mixins" as mix;
@use "../utils/variables" as var;

.checkout-page {
  max-width: 40vw;
  margin: 0 auto;

  @include mix.responsive(lg) {
    max-width: 50vw;
  }

  @include mix.responsive(md-lg) {
    max-width: 60vw;
  }

  @include mix.responsive(md) {
    max-width: 65vw;
  }

  @include mix.responsive(sm-md) {
    max-width: 70vw;
  }

  @include mix.responsive(sm) {
    max-width: 80vw;
  }

  @include mix.responsive(xs) {
    max-width: 80vw;
  }
}
