@use "../utils/mixins" as mix;
@use "../utils/variables" as var;

/* ========================
   PAGE DE CONTACT PRINCIPALE
======================== */
.contact-page {
  max-width: 80vw;
  margin: 0 auto;
  @include mix.responsive(xl) {
    max-width: 40%;
  }
  @include mix.responsive(lg) {
    max-width: 50%;
  }
}

/* ========================
   TITRE DE LA PAGE
======================== */
h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ========================
   FORMULAIRE DE CONTACT
======================== */
.contact-form {
  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    margin-inline: auto;

    @include mix.responsive(xl) {
      max-width: 60vw;
    }

    @include mix.responsive(lg) {
      max-width: 70vw;
    }
  }

  textarea {
    resize: vertical;
    min-height: 150px;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid var.$text;
  }
}

/* ========================
   BOUTON DE SOUMISSION
======================== */
.form-button {
  width: 100%;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include mix.button-main(var.$button-bg);

  @include mix.responsive(xl) {
    max-width: 60vw;
  }

  @include mix.responsive(lg) {
    max-width: 70vw;
  }
}

/* ========================
   MESSAGES DE STATUT
======================== */
.success-message {
  color: green;
  text-align: center;
  font-weight: bold;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}
