@use "../utils/mixins" as mix;
@use "../utils/variables" as var;

/* ========================
   PAGE DE CONTACT PRINCIPALE
======================== */
.contact-page {
  max-width: 80vw;
  margin: 0 auto;

  @include mix.responsive(xl) {
    max-width: 40%;
  }
  @include mix.responsive(lg) {
    max-width: 50%;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem 0;
  }
}

/* ========================
   FORMULAIRE DE CONTACT
======================== */
.contact-form {
  fieldset {
    border: 1px solid var.$text;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1.5rem;

    legend {
      font-weight: 600;
      padding: 0 0.5rem;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
      font-weight: 500;
      margin-bottom: 0.25rem;
    }

    label span[aria-hidden="true"] {
      color: var.$text;
      margin-left: 0.25rem;
    }

    input,
    textarea {
      padding: 0.8rem;
      border: 1px solid var.$text;
      border-radius: 5px;
      font-size: 1rem;
      font-family: inherit;
    }

    textarea {
      resize: vertical;
      min-height: 150px;
    }
  }

  .form-button {
    width: 100%;
    margin: 2rem auto;
    @include mix.button-main(var.$button-bg);

    @include mix.responsive(xl) {
      max-width: 60vw;
    }
    @include mix.responsive(lg) {
      max-width: 70vw;
    }
  }

  .form-status {
    text-align: center;
    margin-top: 1rem;

    .success-message {
      color: green;
      font-weight: bold;
    }

    .error-message {
      color: red;
      font-weight: bold;
    }
  }
}
