@import "../utils/variables";
@import "../utils/mixins";

.d-flex {
  max-height: 100vh;
  overflow-y: hidden;
}
.admin-content {
  width: calc(100% - 250px);
  min-height: 100vh;
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-gray;
  margin-left: 250px;
  overflow-y: auto;

  section {
    margin-bottom: 20px;
  }

  @include responsive(tablet) {
    width: calc(100% - 180px);
    margin-left: 180px;
  }

  @include responsive(mobile) {
    width: 100%;
    margin-left: 0;
    padding-top: 60px;
  }
}
