// src/styles/pages/_gallery.scss
// ========================
@use "../utils/variables" as var;

/* ========================
   CONTENEUR PRINCIPAL GALERIE
======================== */
.gallery-container {
  padding: 20px;
  text-align: center;

  h2 {
    color: var.$text;
    font-family: "Asap", sans-serif;
    font-size: 2rem;
  }

  /* ========================
     GRILLE DES IMAGES
  ========================= */
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
    justify-items: center;
    justify-content: center;
  }
}

/* ========================
   PAGINATION
======================== */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1.5rem;

  button {
    background: #fb6f92;
    color: var.$text;
    border: none;
    padding: 8px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background: var.$links-hover;
      color: var.$text;
      border: 1px solid var.$text;
    }
  }
}

/* ========================
   MOTS-CLÉS (FILTRAGE)
======================== */
.keyword-cloud {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* ========================
   BOUTON DE MOT-CLÉ
======================== */
.keyword-btn {
  background-color: var.$button-bg;
  color: var.$text;
  border: 1px solid var.$text;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;

  &:hover {
    background: var.$links-hover;
    border-color: 1px solid transparent;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px var.$text;
    background: var.$links-hover;
    border-color: 1px solid transparent;
    text-decoration: underline;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }
  &.selected {
    background-color: var.$links-hover;
    color: var.$text;
    border-color: transparent;
    box-shadow: 0 0 0 2px var.$light-color;
  }
}
