@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

/* ========================
   CONTENEUR GLOBAL DE LA HOME
======================== */
.home-container {
  max-width: 80vw;
  margin: auto;
  padding: 1.5rem;
  @include mix.responsive(sm-md) {
    max-width: 85%;
  }
  @include mix.responsive(sm) {
    max-width: 90%;
  }
  @include mix.responsive(xs) {
    max-width: 90%;
  }
}

/* ========================
   BANNIÈRE D’ACCUEIL
======================== */
.home-banner {
  text-align: center;
  background-color: var.$text-bg;
  border-radius: 10px;
  border: 1px solid var.$text;
  font-family: "Gwendolyn", sans-serif;
  font-weight: bold;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

/* ========================
   SECTION SÉLECTION DE PRODUITS
======================== */
.product-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  p {
    text-decoration: none;
    color: var.$text;
  }
}

/* ========================
   CARTE DE PRODUIT
======================== */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var.$text-bg;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var.$text;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  max-width: 30%;
  width: 100%;

  @include mix.responsive(md-lg) {
    max-width: 45%;
  }

  @include mix.responsive(xs) {
    max-width: 100%;
  }

  p {
    color: var.$text;
  }

  &:hover {
    transform: scale(1.05);
    text-decoration-color: var.$links;

    p {
      color: var.$links;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

/* ========================
   BLOC D’INFOS PRODUITS
======================== */
.product-info {
  margin-top: 30px;
  text-align: left;
  font-size: 0.8rem;
  padding: 2rem;
  background-color: var.$text-bg;
  border-radius: 10px;
  border: 1px solid var.$text;
}
