// src/styles/pages/_productpage.scss
// ========================
@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

/* ================== 
   PAGE PRINCIPALE 
================== */
.product-page {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 2.5rem;
    color: var.$text;
    margin-bottom: 1rem;
  }
}

/* ================
   BANNIÈRE PRODUIT 
 =============== */
.product-banner {
  width: min-content;
  text-align: center;
  padding: 40px 20px;
  background-color: var.$text-bg;
  border-radius: 10px;
  border: 1px solid var.$text;
  font-family: "Gwendolyn", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* ================================ 
   PRÉSENTATION PRODUIT HORIZONTALE 
================================ */
.product-sections {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  width: 100%;

  @include mix.responsive(sm) {
    display: flex;
    flex-direction: column;
  }

  @include mix.responsive(xs) {
    display: flex;
    flex-direction: column;
  }
}

/* =================== 
SLIDER (PARTIE GAUCHE) 
=================== */
.product-slider {
  max-width: 50%;
  margin: 0 auto;
  flex: 1;
  border: 1px solid var.$text;
  @include mix.responsive(lg) {
    width: 70vw;
    height: auto;
  }

  @include mix.responsive(md-lg) {
    max-width: 50%;
    height: auto;
  }

  @include mix.responsive(sm) {
    min-width: 100%;
    height: auto;
  }

  @include mix.responsive(xs) {
    min-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

/* ================================ 
   COLONNE DROITE : PERSO + UPLOAD 
================================= */
.product-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 20vw;
  flex: 1;
  height: 100%;
  @include mix.responsive(lg) {
    width: 100%;
    height: auto;
  }

  @include mix.responsive(md-lg) {
    width: 100%;
    height: auto;
  }

  @include mix.responsive(sm) {
    width: 100%;
    height: auto;
  }

  @include mix.responsive(xs) {
    width: 100%;
    height: auto;
  }
}

/* ======================= 
BLOC DE PERSONNALISATION 
======================= */
.customization-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  padding: 1rem;
  background: var.$text-bg;
  border-radius: 10px;
  border: 1px solid var.$text;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var.$text;
  }

  input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var.$text;
    border-radius: 5px;
    background-color: var.$main-bg;
  }

  .option-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

    button {
      @include mix.button-main(var.$button-bg);
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: lighten(var.$button-bg, 10%);
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
}

/* ===================== 
   ZONE D’UPLOAD D’IMAGE 
===================== */
.upload-container {
  width: 100%;

  .dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
    border: 2px dashed var.$text-bg;
    background: var.$light-color;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    p {
      margin: 0;
      font-size: 16px;
      color: #333;
    }
  }
}

/* ========== 
   BOUTONS 
========== */
.quantity-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    padding: 0.25rem 0.6rem;
    font-weight: 550;
    background: var.$button-bg;
    color: var.$text;
    border: var.$text 1px solid;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  span {
    min-width: 24px;
    text-align: center;
    font-weight: bold;
  }
}

/* ==========================
    BOUTON AJOUTER AU PANIER 
========================== */

.generic-button {
  @include mix.button-main(var.$button-bg);
  margin: 2rem 0;
  text-align: center;
}

/* ==========================
    BLOC DE NAVIGATION 
========================== */
.product-navigation {
  text-align: center;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .product-switch-links {
    display: flex;
    gap: 8rem;
    justify-content: center;
    flex-wrap: wrap;

    @include mix.responsive(sm) {
      gap: 2rem;
    }

    @include mix.responsive(xs) {
      gap: 1rem;
    }
  }

  .product-switch-link {
    background: var.$button-bg;
    border: 1px solid var.$text;
    color: var.$text;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;

    &:hover {
      background: var.$links-hover;
      text-decoration: underline;
    }
  }
}
